In [1]:
from portfolio_generator import Portfolio_Generator
from datetime import date, timedelta
import yfinance as yf

In [2]:
universe = '2000-01-01'

In [3]:
tickers = {'NVDA':.20, 'HOOD':.15, 'MSFT':.05, 'NFLX':.20, 'AAPL':.20, 'SPOT':.10, 'SPY ALGO':.05, 'AMC ALGO':.05}

In [4]:
ticker_list = ['NVDA','HOOD','MSFT','NFLX','AAPL','SPOT']

In [5]:
ticker_df = yf.download(ticker_list, start = universe, end=str(date.today() - timedelta(1)), interval='1d', multi_level_index=True)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  6 of 6 completed

In [6]:
algo_dictionary = {'SPY ALGO':yf.download('SPY',start=universe, end = str(date.today() - timedelta(1)), interval = '1d', multi_level_index=False),
                'AMC ALGO':yf.download('AMC',start=universe, end = str(date.today() - timedelta(1)), interval = '1d', multi_level_index=False)}

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
portfolio = Portfolio_Generator(tickers, start = '2022-12-23', end='2023-12-23', interval = "1d", optional_df=ticker_df)

In [8]:
portfolio.backtest(return_table=True, algo_dictionary=algo_dictionary)

Model Portfolio Result: 100.97%
 from 2022-12-27 00:00:00 to 2023-12-22 00:00:00

,Model Value,SPY ALGO Value,AMC ALGO Value,NVDA Value,HOOD Value,MSFT Value,NFLX Value,AAPL Value,SPOT Value
Date,,,,,,,,,
2022-12-27,9690.311228,500.000000,500.000000,1857.293234,1452.830188,496.292938,1926.837684,1972.243803,984.813380
2022-12-28,9565.251046,500.000000,500.000000,1846.113536,1452.830188,491.203510,1877.407194,1911.724886,985.971733
2022-12-29,9924.601062,500.000000,523.573173,1920.689169,1518.867997,504.775254,1973.962595,1965.873089,1016.859784
2022-12-30,9941.892783,509.000228,486.352329,1922.135955,1535.849158,502.282957,1999.457645,1970.726995,1016.087517
2023-01-03,9862.813502,507.659463,495.037202,1882.809594,1524.528324,501.780278,1999.932335,1897.012191,1054.054115
...,...,...,...,...,...,...,...,...,...
2023-12-18,19513.856353,555.024286,562.689857,6589.401390,2250.943508,787.404632,3296.175815,2987.789571,2484.427296
2023-12-19,19734.787094,555.024286,562.689857,6527.161477,2484.905734,788.693676,3356.522941,3003.804447,2455.984676
2023-12-20,19333.897745,558.399229,562.689857,6330.704432,2381.132111,783.115361,3317.534603,2971.621841,2428.700310
2023-12-21,19573.536145,558.399229,562.689857,6446.368959,2432.075595,789.285243,3333.401136,2969.333969,2481.982158
2023-12-22,19474.685801,558.399229,562.689857,6425.314986,2443.396249,791.482735,3300.515486,2952.861471,2440.025789