In [1]:
from portfolio_generator import Portfolio_Generator
from datetime import date, timedelta
import yfinance as yf

In [2]:
universe = '2000-01-01'

In [3]:
tickers = {'NVDA':.20, 'HOOD':.2, 'NFLX':.20, 'AAPL':.20, '^vix ALGO':.2}

In [4]:
ticker_list = ['NVDA','HOOD','NFLX','AAPL']

In [5]:
ticker_df = yf.download(ticker_list, start = universe, end=str(date.today() - timedelta(1)), interval='1d', multi_level_index=True)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  4 of 4 completed

In [6]:
algo_dictionary = {'^vix ALGO':yf.download('^vix',start=universe, end = str(date.today() - timedelta(1)), interval = '1d', multi_level_index=False)}

[*********************100%***********************]  1 of 1 completed

In [7]:
portfolio = Portfolio_Generator(tickers, start = '2023-10-05', end='2024-10-04', interval = "1d", optional_df=ticker_df)

In [8]:
portfolio.backtest(return_table=True, algo_dictionary=algo_dictionary)

Model Portfolio Result: 81.07%
 from 2023-10-06 00:00:00 to 2024-10-03 00:00:00
^vix ALGO Value return: -4.47%
NVDA Value return: 168.54%
HOOD Value return: 125.88%
NFLX Value return: 85.26%
AAPL Value return: 27.8%

,Model Value,^vix ALGO Value,NVDA Value,HOOD Value,NFLX Value,AAPL Value
Date,,,,,,
2023-10-06,10166.558646,2000.000000,2048.066478,2041.110128,2047.881121,2029.500919
2023-10-09,10173.325739,2000.000000,2026.181602,2028.777050,2071.714303,2046.652784
2023-10-10,10157.108737,2000.000000,2049.677793,2063.720541,2003.918575,2039.791827
2023-10-11,10112.900263,2000.000000,2094.790677,1997.944650,1964.250228,2055.914707
2023-10-12,10015.749785,2000.000000,2101.011312,1909.558150,1938.860494,2066.319829
...,...,...,...,...,...,...
2024-09-27,18656.156604,1895.783824,5434.869907,4910.585923,3796.934875,2617.982075
2024-09-30,18649.857718,1914.117836,5436.660409,4813.977632,3807.241346,2677.860496
2024-10-01,18132.144883,1914.117836,5237.889111,4589.928258,3790.386279,2599.823399
2024-10-02,18309.806315,1914.117836,5320.710314,4651.593058,3817.010837,2606.374270
2024-10-03,18408.406805,1910.540040,5499.783703,4610.483322,3793.982634,2593.617106